#container{
    display:flex;
    justify-content:center;
}
body{
    background-color: antiquewhite;
    text-align: center;
    color: rgb(110, 97, 96)
}
#space{
    margin-top: 10%;
}
#title{
    font-size: 300%;
}
img{
    border: 5px solid;
    border-radius: 25px;
    border-color: rgb(110, 97, 96);
}